.selfMessageContainer {
    display: flex;
    justify-content: flex-end;
}

.messageBox {
    display: flex;
    flex-direction: column;
    background-color: #63d7b0;
    width: max-content;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.self_timestamp {
    align-self: flex-end;
    font-size: 0.75rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}